{% extends 'base.html.twig' %}

{% block body %}
    <div class="container g-0">
        <h1>{{ course.name }}</h1>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#profil" aria-selected="true" role="tab">Profile</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#detail" aria-selected="true" role="tab">Détail</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#commentaires" aria-selected="true" role="tab">Commentaires</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#posterCommentaire" aria-selected="true" role="tab">Postez un commentaire</a>
            </li>

        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="profil" role="tabpanel">
                <div class="row mx-5 my-4">
                    <div class="col-md-4">
                        <img src="{{ (course.image != null)? asset('images/cours/' ~ course.image) : asset('images/cours/default.jpg') }}" class="img-fluid rounded-start" alt="{{ course.name }}">
                    </div>
                    <div class="col-md-8">
                        <h3>Description</h3>
                        <p>{{ course.smallDescription|nl2br }}</p>
                        <h3>Informations</h3>
                        {% if course.price != null %}
                            <p>Prix: {{ course.price }} €</p>
                        {% else %}
                            <p>Prix: gratuit </p>
                        {% endif %}
                        <p>Durée: {{ course.duration }}</p>
                        <p>Ajouté le: {{ course.createdAt|date('d/m/Y') }}</p>
                        <p>Horaire: {{ course.program }} </p>
                        <p>Niveau: {{ course.level.name }}</p>
                        <a href="{{ path('app_basket_add', {id: course.id}) }}" class="btn btn-outline-dark">Ajouter au Pagnier</a>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="detail" role="tabpanel">
                <p>Descrition complète</p>
                <p>{{ course.fullDescription|raw }}</p>
                <a href="{{ asset('programs/' ~ course.program) }}" type="button" class="btn btn-danger {% if course.program == null %} disabled {% endif %} rounded-1" target="_blank">Télécharger le programme</a>
            </div>
            <div class="tab-pane fade" id="commentaires">
                <div class="mx-5 my-4">
                    <h3>Commentaires des abonnés</h3>
                    {% set sorted_comments = course.comments|sort((a, b) => b.createdAt <=> a.createdAt) %}
                    {% for comment in sorted_comments|filter(comment => comment.parent is null and (comment.published or comment.user == app.user)) %}
                    <div class="d-flex mt-4">
                        <img style="width: 70px; height: 70px;margin-right: 20px" src="{{ (comment.user.image != null)? asset('images/avatar/' ~ comment.user.image) : asset('images/avatar/default.jpg') }}" class="img-fluid rounded-circle" alt="{{ comment.user.lastName }}">
                        <div class="border-bottom w-100">
                            <h5>{{ comment.createdAt|date('d/m/Y') }} - {{ comment.user.lastName }}
                                {% if not comment.isPublished %}
                                    - <i class="text-danger">Non publié</i>
                                {% endif %}
                            </h5>
                            <div class="textEditor">{{ comment.content|raw }}</div>
                            <p class="my-2"><small>Evaluation de {{ comment.user.lastName }}:
                                    {% for i in 1..5 %}
                                        {% if i<=  comment.rating %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="3rem" viewBox="0 0 24 24"><path fill="#dada10" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928z"/></svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="3rem" viewBox="0 0 24 24"><path fill="black" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928zm0-2.292l4.247 2.377l-.948-4.773l3.573-3.305l-4.833-.573l-2.038-4.419l-2.039 4.42l-4.833.572l3.573 3.305l-.948 4.773z"/></svg>
                                        {% endif %}
                                    {% endfor %}
                                </small></p>
                            {% if comment.user != app.user %}
                                <button type="button" data-reply data-id="{{ comment.id }}" class="btn btn-info btn-sm">Répondre</button>
                            {% else %}
                                <button type="button" data-update data-id="{{ comment.id }}" class="btn btn-warning btn-sm">Modifier</button>
                            {% endif %}
                        </div>
                    </div>
                    {% set replies = comment.replies|filter(reply => reply.published or reply.user == app.user) %}
                        {% if replies|length != 0 %}
                            <div class="mb-5" style="margin-left: 100px">
                            <h5>Les réponses aux commentaires: </h5>
                            {% for reply in comment.replies %}
                            <div class="d-flex mt-4">
                                <img style="width: 70px; height: 70px;margin-right: 20px" src="{{ (reply.user.image != null)? asset('images/avatar/' ~ reply.user.image) : asset('images/avatar/default.jpg') }}" class="img-fluid rounded-circle" alt="{{ reply.user.lastName }}">
                                <div class="border-bottom w-100">
                                    <h5>{{ reply.createdAt|date('d/m/Y') }} - {{ reply.user.lastName }}
                                        {% if not reply.isPublished %}
                                            - <i class="text-danger">Non publié</i>
                                        {% endif %}
                                    </h5>
                                    <div class="textEditor">{{ reply.content|raw }}</div>
                                    <p class="my-2">
                                        <small>
                                            Evaluation de {{ reply.user.lastName }}:
                                            {% for i in 1..5 %}
                                                {% if i<=  reply.rating %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="3rem" viewBox="0 0 24 24"><path fill="#dada10" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928z"/></svg>
                                                {% else %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="3rem" viewBox="0 0 24 24"><path fill="black" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928zm0-2.292l4.247 2.377l-.948-4.773l3.573-3.305l-4.833-.573l-2.038-4.419l-2.039 4.42l-4.833.572l3.573 3.305l-.948 4.773z"/></svg>
                                                {% endif %}
                                            {% endfor %}
                                        </small>
                                    </p>
                                    {% if reply.user == app.user %}
                                        <button type="button" data-update data-id="{{ reply.id }}" class="btn btn-warning btn-sm">Modifier</button>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="posterCommentaire">

                <div class="mt-2">
                    <div>
                        {% for i in 1..5 %}
                            {% if i<=  ratings.actifs %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24"><path fill="#dada10" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928z"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24"><path fill="black" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928zm0-2.292l4.247 2.377l-.948-4.773l3.573-3.305l-4.833-.573l-2.038-4.419l-2.039 4.42l-4.833.572l3.573 3.305l-.948 4.773z"/></svg>
                            {% endif %}
                        {% endfor %}
                        <p>calculé sur {{ ratings.numbers }} commentaires</p>
                    </div>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <label for="{{ form.content.vars.id }}" class="my-2">laissez un commentaire:</label>
                    <trix-editor input="{{ form.content.vars.id }}" class="trix-content" required></trix-editor>
                    <input type="submit" value="Envoyer" class="btn btn-danger mt-2">
                    {{ form_end(form)}}

                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = ()=>{
            document.querySelectorAll("[data-reply]").forEach(element =>{
                element.addEventListener('click', ()=>{
                   document.querySelector('#comment_parentId').value = element.dataset.id;
                   document.querySelector("a[href='#posterCommentaire']").click();
                });
            });

            document.querySelectorAll("[data-update]").forEach(element =>{
                element.addEventListener('click', ()=>{
                    document.querySelector('#comment_updateId').value = element.dataset.id;

                    document.querySelector("trix-editor[input='comment_content']").innerHTML= element.parentElement.querySelector('.textEditor').innerHTML
                    document.querySelector("a[href='#posterCommentaire']").click();
                });
            });

        };
    </script>
{% endblock %}
