{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="container">
        <section id="posts">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-6">Nos derniers cours</h1>

                    {% for course in courses %}
                        <div class="card mb-5">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ (course.image != null)?course.image : asset('images/cours/default.jpg') }}" class="img-fluid rounded-start" alt="{{ course.name }}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p>Categorie : {{ course.category.name }}</p>

                                        <h5 class="card-title">{{ course.name|capitalize }}</h5>

                                        <p class="card-text">{{ course.smallDescription|u.truncate(100, '...', false) }}...</p>

                                        <p>{{ course.createdAt|date('d/m/Y') }}</p>

                                        <p class="card-text"><a href="{{ path('app_course', {slug: course.slug}) }}" class="btn btn-secondary">Lire la suite</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>

{% endblock %}
