{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Formation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('app_courses') }}">Tout</a></li>
                                {{ render(controller(
                                    'App\\Controller\\CategoryController::categories'
                                )) }}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_news') }}">News</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if app.user == null %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Login</a>
                            <a class="nav-link" aria-current="page" href="{{ path('app_inscription') }}">inscription</a>
                        </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ (app.user.image)?asset('images/avatar/' ~ app.user.image) :asset('images/avatar/default.jpg') }}" class="rounded-circle" style="width: 40px; height: 40px" alt="">
                                    {{ app.user.firstName }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_my_account') }}">My account</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_update_my_account') }}">Update my account</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_update_my_password') }}">Change my Password</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>

                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


    </header>
{% endblock %}

