{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Formation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('app_courses') }}">Tout</a></li>
                                {{ render(controller(
                                    'App\\Controller\\CategoryController::categories'
                                )) }}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_news') }}">News</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        {% if not app.user %}
                            <a href="{{ path('app_login') }}" class="btn btn-lg btn-outline-dark" type="submit">
                                S'identifier
                            </a>&nbsp;&nbsp;
                            <a href="{{ path('app_register') }}" class="btn btn-lg btn-outline-dark" type="submit">
                                S'enregistrer
                            </a>
                        {% else %}
                            <div class="nav-item dropdown pe-5">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ (app.user.image != null)?asset('images/avatar/' ~ app.user.image) : asset('images/avatar/default.jpg') }}" alt="{{ app.user.firstName }}" class="img-menu">
                                    {{ app.user.firstName }} {{ app.user.lastName }}
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('app_my_account') }}">Profil</a>
                                    <a class="dropdown-item" href="{{ path('app_update_my_account') }}">Modifier le profil</a>
                                    <a class="dropdown-item" href="{{ path('app_update_my_password') }}">Modifier le mot de passe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('app_admin_dashboard') }}">Administration</a>
                                    {% endif %}
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>


    </header>
{% endblock %}

