<!-- Menu à gauche -->
<nav class="col-md-3 col-lg-2 d-md-block bg-light">
    <div class="sidebar-sticky mt-3">
        <h2 class="display-4">Menu</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                {{ app.user.firstName }} {{ app.user.lastName }}
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-light text-danger border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Les cours
                    </button>
                    <ul class="dropdown-menu bg-light text-black">
                        <li><a class="dropdown-item" href="{{ path('app_admin_dashboard') }}">Gestion des cours</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_admin_newcourse') }}">Ajouter un cours</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-light text-danger border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </button>
                    <ul class="dropdown-menu bg-light text-black">
                        <li><a class="dropdown-item" href="{{ path('app_admin_category') }}">Gestion des Categories</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_admin_newcategory') }}">Ajouter une categorie</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-light text-danger border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Level
                    </button>
                    <ul class="dropdown-menu bg-light text-black">
                        <li><a class="dropdown-item" href="{{ path('app_admin_level') }}">Gestion des niveaux</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_admin_newlevel') }}">Ajouter un niveau</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{ path('app_admin_comment') }}">Les commentaires</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-light text-danger border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Les utilisateurs
                    </button>
                    <ul class="dropdown-menu bg-light text-black">
                        <li><a class="dropdown-item" href="{{ path('app_admin_user') }}">Gestion des utilisateurs</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_admin_newuser') }}">Ajouter un utilisateur</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-light text-danger border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Les actualités
                    </button>
                    <ul class="dropdown-menu bg-light text-black">
                        <li><a class="dropdown-item" href="{{ path('app_admin_news') }}">Gestion des actualités</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_admin_newnews') }}">Ajouter une actualité</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>