{% extends 'admin/base.html.twig' %}

{% block title %}gestion des commentaire{% endblock %}

{% block body %}
    <section>
            <h1 class="display-4">Gestion des commentaires</h1>
            <table class="table table-hover my-5 table-striped">
                <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>commentaire</th>
                    <th>Reponse à</th>
                    <th>Cours</th>
                    <th>Date</th>

                    <th>send Message</th>
                    <th>Delete</th>
                    <th>Published</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td> <img  src="{{ (comment.user.image != null)?asset('images/avatar/' ~ comment.user.image): asset('images/avatar/default.jpg')}}" alt="{{ comment.user.firstName }}"></td>
                        <td>{{ comment.content }}</td>
                        <td>
                            {% if not comment.parent %}

                            {% else %}
                                comment.parent.content
                            {% endif %}
                        </td>
                        <td>{{ comment.course.name }}</td>
                        <td>{{ comment.createdAt|date('d/m/y') }}</td>
                        <td><a href="{{ path('app_admin_comment_send_message', {id: comment.id}) }}"><i class="icofont-edit-alt"></i></a></td>
                        <td><a href="{{ path('app_admin_delcomment', {id: comment.id}) }}" class="text-danger"><i class="icofont-trash"></i></a></td>
                        <td><a href="{{ path('app_admin_eyecomment', {id: comment.id}) }}">

                                {% if comment.isPublished %}
                                    <i class="icofont-eye text-success"></i>
                                {% else %}
                                    <i class="icofont-eye-blocked text-danger"></i>
                                {% endif %}
                            </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </section>
{% endblock %}
