{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section>
            <h1 class="display-4">Gestion des Cours</h1>
            <a href="{{ path('app_admin_newcourse') }}" class="btn btn-outline-dark">Ajouter un cours</a>
            <table class="table table-hover my-5 table-striped">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Level</th>
                    <th>Category</th>
                    <th>createdAt</th>
                    <th>Program</th>

                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Published</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td> <img  src="{{ (course.image != null)?asset('images/cours/' ~ course.image): asset('images/cours/default.jpg')}}" alt="{{ course.name }}"></td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.duration }}</td>
                        <td>{{ course.price }}
                            {% if course.price != null %}
                                €
                            {% else %}
                                Gratuit
                            {% endif %}
                        </td>
                        <td>
                            {% if course.level != null %}
                                {{ course.level.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if course.category != null %}
                                {{ course.category.name }}
                            {% endif %}
                        </td>
                        <td>{{ course.createdAt|date('d/m/y') }}</td>
                        <td>
                            {% if course.program != null %}
                                <a  href="{{ asset('programs/' ~ course.program ) }}" target="_blank">program</a>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('app_admin_editcourse', {id: course.id}) }}"><i class="icofont-edit-alt"></i></a></td>
                        <td><a href="{{ path('app_admin_delcourse', {id: course.id}) }}" class="text-danger"><i class="icofont-trash"></i></a></td>
                        <td><a href="{{ path('app_admin_eyecourse', {id: course.id}) }}">

                                {% if course.isPublished %}
                                    <i class="icofont-eye text-success"></i>
                                {% else %}
                                    <i class="icofont-eye-blocked text-danger"></i>
                                {% endif %}
                            </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </section>
{% endblock %}
