{% extends 'admin/base.html.twig' %}

{% block title %}Nouvel niveau{% endblock %}
{% block body %}
<section class="row">
    <div class="col-md-6 offset-3">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <label for="{{ form.content.vars.id }}" class="my-2">contenu de l'actualité :</label>
            <trix-editor input="{{ form.content.vars.id }}" class="trix-content" required></trix-editor>
            <input type="submit" value="Ajouter l'actualité" class="btn btn-outline-dark my-4">
        {{ form_end(form) }}
    </div>
</section>

{% endblock %}