{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-6 offset-3">
                <h2 class="display-4 my-4">Nous contacter</h2>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <label for="{{ form.message.vars.id }}" class="my-2">Votre Message :</label>
                    <trix-editor input="{{ form.message.vars.id }}" class="trix-message" required></trix-editor>
                    <input type="submit" class="btn btn-outline-dark my-4" value="Envoyer">
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock body %}