{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section>
            <h1 class="display-4">Gestion des Enregistrements aux cours</h1>
            <table class="table table-hover my-5 table-striped">
                <thead>
                <tr>
                    <th>Image</th>
                    <th {% if coursesUsers.isSorted('name') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(coursesUsers, 'Name', 'name') }}
                    </th>

                    <th {% if coursesUsers.isSorted('duration') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(coursesUsers, 'Duration', 'duration') }}
                    </th>

                    <th {% if coursesUsers.isSorted('price') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(coursesUsers, 'Price', 'price') }}
                    </th>

                    <th {% if coursesUsers.isSorted('users') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(coursesUsers, 'Users', 'users') }}
                    </th>

                    <th>See Users</th>
                </tr>
                </thead>
                <tbody>
                {% for course in coursesUsers %}
                    <tr>
                        <td> <img  src="{{ (course[0].image != null)?asset('images/cours/' ~ course[0].image): asset('images/cours/default.jpg')}}" alt="{{ course[0].name }}"></td>
                        <td>{{ course[0].name }}</td>
                        <td>{{ course[0].duration }}</td>
                        <td>
                            {% if course[0].price != null %}
                                {{ course[0].price }} €
                            {% else %}
                                Offert
                            {% endif %}


                        <td>{{ course['user_count'] }}</td>
                        <td>
                            <a href="{{ path('app_admin_course_regis', {id: course[0].id}) }}">
                                <i class="icofont-eye text-success"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {# Pagination #}
        <div class="row my-4">
            <div class="col-md-6 offset-3">
                {{ knp_pagination_render(coursesUsers) }}
            </div>
        </div>
    </section>
{% endblock %}
