{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section>
            <h1 class="display-4">{{ course.name }}</h1>
            <h2>Inscription :</h2>
            <table class="table table-hover my-5 table-striped">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Verified email</th>
                    <th>Role</th>

                    <th>Edité le role</th>
                    <th>Actif</th>
                </tr>
                </thead>
                <tbody>
                {% for user in course.users %}
                    <tr>
                        <td> <img  src="{{ (user.image != null)?asset('images/avatar/' ~ user.image): asset('images/avatar/default.jpg')}}" alt="{{ user.firstName}}"></td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if not user.isVerified %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 512 512"><path fill="#ed071e" d="M263 0C121.6 0 7 114.6 7 256s114.6 256 256 256s256-114.6 256-256S404.4 0 263 0m0 472.6c-119.6 0-216.6-97-216.6-216.6S143.4 39.4 263 39.4s216.6 97 216.6 216.6S382.7 472.6 263 472.6m0-393.8c-97.9 0-177.2 79.3-177.2 177.2S165.2 433.2 263 433.2c97.9 0 177.2-79.3 177.2-177.2S360.9 78.8 263 78.8"/></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 512 512"><path fill="#3dc43b" d="M263 0C121.6 0 7 114.6 7 256s114.6 256 256 256s256-114.6 256-256S404.4 0 263 0m0 472.6c-119.6 0-216.6-97-216.6-216.6S143.4 39.4 263 39.4s216.6 97 216.6 216.6S382.7 472.6 263 472.6m0-393.8c-97.9 0-177.2 79.3-177.2 177.2S165.2 433.2 263 433.2c97.9 0 177.2-79.3 177.2-177.2S360.9 78.8 263 78.8"/></svg>
                            {% endif %}
                        </td>
                        <td>
                            {{ user.roles[0] }}
                        </td>

                        <td><a href="{{ path('app_admin_editroleuser', {id: user.id}) }}"><i class="icofont-edit-alt"></i></a></td>
                        <td><a href="{{ path('app_admin_eyeuser', {id: user.id}) }}">

                                {% if user.isDisabled %}
                                    <i class="icofont-eye text-danger"></i>
                                {% else %}
                                    <i class="icofont-eye-blocked text-success"></i>
                                {% endif %}
                            </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </section>
{% endblock %}
